.navbar{
    background-color: #e67e22;
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    margin-left: 12.5%;
}

.links{
    margin-left: 0.8em;
}

.links a, #navbarDropdownMenuLink{
    overflow: hidden;
    background-color: #e67e22;
    word-spacing: 2px;
    color: white !important;
}

.navbar a,
.navbar button{
    text-transform: capitalize;
    font-family: Lato;
    font-weight: 300;   
}

.navbar li:hover,
.dropdown.open > a, #navbarDropdownMenuLink:hover{
    background-color:orange;
}

.dropdown-item{
    color: black;
    display: inherit;
    margin-bottom: 4%;
}

.dropdown-item:hover{
    text-decoration: none;
    background-color:orange;  
}