/* big tablt to 1200px */
@media only screen and (max-width: 1200px){
    

}
/* small phones to small tablets: from 481px to 732px */
@media only screen and (max-width: 732px){


}
/* small phones: from 0 to 480px */
@media only screen and (max-width: 480px){

  .navbar,   #shopping-list, .bg-lightgray,
  #reports, #alergic-report, #exception-report,
  #Weekly-Scheduler, #daily-attendance, #kid-choosen, 
  #kidList-detailsUpdate, #kid-observation,  #index-section,
  #registration-parent, #registration-kid, #kid-detailsUpdate{
     width: 100%;
     margin-left: 0;
  }

   .logo-container{
      margin-left: -10%;
  } 

    /* index page */

   .container{
      width: 100%;
      padding: 0;
    }

    .card{
        margin-left: 4%;
    }

   .card-text{ 
       font-size: 14px; 
       top: 2px;
       left: 0;
    }

    #logo-to-pages{
        margin-left: 5%;
    }

    .template-row{
        margin-left: 3.3%
    }

    /* registration page */

    #f-member-select{
        width: 118%;
    }

    .save-2{
        margin-left: 40%;
    }

    #gender{
        width: 112%;
         
    }

   input[type=radio]{
        margin-top: 0;
   }

  */ kid_detailsUpdates page */

   .describe-info{
     margin-left: 9%;
   }

  /*  kidsList_detailsUpdates page */

  textarea{
      width: 88%;
      margin-left: 4%;
  }

  #kidname-label{
      margin-left: 3%;
  }

  #pickDate{
     margin-left: -2%;
  }

  #kidname{
    margin-left: 3%;
  }

  .kid-form1, .kid-form2, .kid-update1, .kid-update2{
     margin-left: 9%;
  }

  .registration-info input{
      margin-left: 3.5%;
  }

  #genders-input{
      margin-left: 4%;
  }

 #com_and_req{
    margin-left: 4%;
 }

/* buttons */
  #new-observation{
    width: 72%;
    margin-left: 14%;
  }

  .exit{
    margin-left: 25%;
    margin-top: -19.3%;
  }

  .show-kid-details{
      margin-left: 12%;
  }

/* labels */

  #birth-date{
    width: 72%;
  }

  #observation{
    width: 90%;
  }

  #upDate{
      margin-left: 0;
      width: 90%;
  }

  #allergies-label, #food-label{
    margin-left: 4.5%;
  }

  .date-label{
      margin-left: 10%;
  }


/* weekly schedule page */
   .schedule_row{
        margin-left: -48%;   
    }

   #date{
       margin-left: -11%;
       width: 25%;
   }

    .schedule_row_label{
       margin-left: -1.5%;
   }

   .pick{
    margin-left: -15%;
   }

   .scheduler-description input{
       width: 14%;
    }

   /* report page */

   #report-describing{
       margin-left: 5%;
   }

   .report-info select{
       margin-left: 4.7%;
       width: 77%;
   }

   #alergic-exp{
      margin-left: 10.5%;
   }

   .alergic-info select{
        width: 69%;
    }

   .exception-info select{
         width: 68%;
    }

   #start-date, #end-date{
      width: 69%;
      margin-left: 9%;
   }

   #options_for_report, .create-botton, .create-botton1{
       margin-left: 35%;
   }

   #kids-table{
       width: 80%;
   }

   #chart_div{
       margin-left: 2%;
       width: 320px;
       height: 200px;
   }

   /* shopping list page */

  .describe-list-info{
     margin-left: 12.5%;
  }
    
   #shopping-list{
     width: 100%
      margin-left: 0;
  }

   .shoppinglist-form3{
       margin-left: 12.3%;
   }

   #category, #item , #quantity{
       margin-left: 0; 
   }

   #itemcategory{
       width: 90%;
   }

   #artitems, #officeitems,
   #fooditems, #empty{
       width: 90%;
       margin-left:  0;
   }

   #quantity-input{
       margin-left:  0;
       display: block;
   }

   #add{
      margin-left: 42%;
   }

   #item-table{
        width: 80%;
        margin-left: 10%;
   }

   .table>tbody>tr>th{
       padding: 6px;
       font-size: 16px;
   }

   .table>tbody>tr>td{
       font-size: 16px;
       padding: 0;
   }

   /* child file for parent user */

   .update-details{
       margin-left: 40%;
   }
   /* shooping list */

   .colDisplay{
       display: none;
   }

   /* attendance page */

   #attendance-table{
       margin-left: 15%;
   }

   #Update-Attendance{
       margin-left: 28%;
   }
}							