

/* big tablt to 1200px */
@media only screen and (max-width: 1200px){
    

}
/* small phones to small tablets: from 481px to 732px */
@media only screen and (max-width: 732px){


}
/* small phones: from 0 to 480px */
@media only screen and (max-width: 480px){

    /* index page */
    #index-section{
        width: 86.4%;
        margin-left: 7%;
    }

    .card-img-top{
      width: 320px;
      height: 180px;
    }

    .card-text{
        font-size: 14px;
    }

    .card{
        margin-left: 4%;
    }
   
    #logo-to-pages{
        margin-left: 5%;
    }

    .template-row{
        margin-left: -0.7%
    }

    /* registration page */

    #f-member-select{
        width: 138%;
    }

    .save-2{
        margin-left: 40%;
    }

    #gender{
        width: 130%;
    }

  /*  kidsList_detailsUpdates page */

  textarea{
      width: 88%;
  }

  #kidname-label, #pickDate{
      margin-left: 1%;
  }

  #kidname{
    margin-left: 1%;
  }

  .registration-info input{
      margin-left: 3.5%;
  }

  #genders-input{
      margin-left: 5%;
  }

/* buttons */
  #new-observation{
    width: 60%;
    margin-left: 20%;
  }

  .exit{
    margin-left: 25%;
    margin-top: -21.7%;
  }

  .show-kid-details{
      margin-left: 7.8%;
  }

/* labels */

  #birth-date{
    width: 72%;
  }

  #observation{
    width: 90%;
  }

  #upDate{
      margin-left: 0;
      width: 90%;
  }

  #allergies-label, #food-label{
      margin-left: 2%;
  }

  .date-label{
      margin-left: 10%;
  }


/* weekly schedule page */
   .schedule_row{
        margin-left: -48%;   
    }

   #date{
       margin-left: -11%;
       width: 25%;
   }

   .schedule_row_label{
     margin-left: -6%;
   }

   .pick{
    margin-left: -18%;
   }

   .scheduler-description input{
       width: 14%;
   }

   /* report page */

   #report-describing{
       margin-left: 4%;
   }

   .report-info select{
       margin-left: 3.7%;
   }

   #start-date, #end-date{
      margin-left: 9%;
   }

   #options_for_report, .create-botton{
       margin-left: 37%;
   }

   .create-botton1{
       margin-left: 34%;
   }

   #kids-table{
       width: 80% ;
   }

   #chart_div{
       margin-left: 2%;
       width: 320px;
       height: 200px;
   }

   /* shopping list page */

   #category, #item , #quantity{
       margin-left: 0; 
   }

   #artitems, #officeitems,
   #fooditems, #empty{
       width: 87%;
       margin-left: -2%;
   }

   #quantity-input{
       margin-left: -1%;
       display: block;
   }

   #item-table{
        width: 80%;
        margin-left: 10%;
   }

   .table>tbody>tr>th{
       padding: 6px;
       font-size: 16px;
   }

   .table>tbody>tr>td{
       font-size: 16px;
       padding: 0;
   }

   /* child file for parent user */

   .update-details{
       margin-left: 40%;
   }
   /* shooping list */

   .colDisplay{
       display: none;
   }

   /* attendance page */

   #attendance-table{
       margin-left: 11%;
   }

   #Update-Attendance{
       margin-left: 28%;
   }
}