/* default styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

span{
    color: #e67e22;
}

section{
    padding: 30px 0;
}

.row{
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

.box{
    padding: 1%
}

/* styling for headlines */
h1{
    font-weight: bold;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-size: 150%; 
    margin-bottom: 30px;
    text-align: center;
}

h2, h3{
    word-spacing: 5px;
    letter-spacing: 2px;
    text-align: center;
}

h2{
    font-size: 120%;
    font-weight: bold;
}

/* index template styling */
.template-header{
    word-spacing: 5px;
    letter-spacing: 2px;
    text-align: left;
}

.template-row{
    margin-top: 5%;
}

#first-temp-p{
    margin-top: -3%;
}

.bg-lightgray
{
    background-color:#e67e22;
    width: 80%;
}


.card:hover .card-text{
    display: block;
}

.card:hover img{
     filter:blur(14px); 
}

.card{
    position: relative;
}

.card-text{
    position: absolute;
    top: 5px;
    left: 10%;
    display: none;
}

.template-header{
    position: relative;
}


/* sections */
#registration-parent,#registration-kid,#reports,#daily-attendance,
#kid-detailsUpdate,#Weekly-Scheduler,#kid-observation,#alergic-report,
#exception-report, #kidList-detailsUpdate, #kid-choosen{
    background-color: #f0f0f0;
    width: 80%;
    margin-left: 10%;
}

#index-section{
    background-color:  #f0f0f0;
    margin-left: 2.7%;
    width: 94.6%;
}

#kid-observation{
    display: none;
}

 .reports-line{
    margin-left: 6%;
 }

 .date-label{
     margin-left: 17%;
 }

 .exception-update2{
    margin-left: 3%;
 }

 /* line on each sections */
.parent-form1, .kid-form1, .kid-update1{
    margin-top: 7%;
}

.parent-form1, .parent-form2, .parent-form3, .parent-form4 {
    margin-left: 7%;
}

.kid-form1,.kid-form2,.kid-update1, .kid-update2{
   margin-left: 6%;
}

.kid-form3, .kid-form4{
    margin-left: 7.3%;
}

.alergic-update, .exception-update{
    margin-left: 2%; 
}


 /* inputs */
.registration-info input, .update-info input, .alergic-info input,
.exception-info input{
    background-color: transparent;
    border: solid 1px rgb(169,169,169);
    color: black;
    background: white;
    text-indent: 10px;
    width: 71%;
    border-radius: 5px;
    margin-left: 3.5%;
    margin-top: 1%;
    font-family: 'Lato';
    font-weight: 300;
    height: 32px;
}

.disabled-input{
    opacity: 0.5;
}

#birth-date{
    width: 76%;
}

.report-info input{
    background-color: transparent;
    border: solid 1px rgb(169,169,169);
    color: black;
    background: white;
    text-indent: 10px;
    width: 53%;
    border-radius: 5px;
    margin-left: 15.3%;
    margin-top: 1%;
    font-family: 'Lato';
    font-weight: 300;
    height: 32px;
}

#address, #city, #phone, #kidname-label{
    margin-left: 4%;
}

/* selects */
.registration-info select,.report-info select,
.update-info select, .list-info select, .alergic-info select,
.exception-info select{
    border-radius: 5px;
    font-family: 'Lato';
    font-weight: 300;
    margin-top: 1%;
    height: 32px;
    color: black;
    background: white;
    border: solid 1px rgb(169,169,169);
 
}

.alergic-info select, .exception-info select{
    margin-top: 1%;
    margin-left: 10%;
}

.alergic-info select{
    width: 55%;
}

.registration-info select{
    width: 71%;
    margin-left: 4%;
}

.exception-info select{
    width: 44%;
}

/* specific inputs,selects and lables */

#observation{
    width: 126%;
    margin-left: 0;
}

#pickDate{
    margin-left: 28%;
    width: 60%;
}

#upDate{
    margin-left: 28%;
    width: 50%;
}

#f-member-select{
    width: 122%;
    margin-left: 7%;
    height:32px;
}

.allergie-info{
    margin-top: 17%;
    width: 100%; 
}

.food-pref{
    margin-top: 3%;
    width: 100%;  
}

input[type=checkbox]:first-child{
    background-color: transparent;
    border: solid 1px rgb(169,169,169);
    color: black;
    background: white;
    border-radius: 5px;
    margin-top: 6%;
    width: 10%;  
}

input[type=radio]:first-child{
    width: 7%;
    margin-top: 6%;
}

#email-input{
    width:71%;
}

.report-info select{
    margin-left: 0.7%;
    width: 66%;
}

.observation-value1{
    color: red;
}

.observation-value2{
    color: green;   
}

#start-date, #end-date{
    width: 86%;
    margin-left: 17%;
}

/* buttons */
.save-details{
    margin-left: 56%;
    margin-top: 5%;
}

.create-botton1, .create-botton2{
    width: 127px;
}

.create-botton{
    margin-left: 48%;
    margin-top: 5%;
}

.create-botton1{
    margin-left: 48%;
    margin-top: 5%;
}
 
.create-botton2{
    margin-left: 36%;
    margin-top: -7.1%;
}

.show-kid-details, .save-2, #new-observation, .save-details,
.exit, #options_for_report, .create-botton ,.create-botton1,
.create-botton2, .update-details, #add{
    background-color: #e67e22;
    border-color: white;
    padding: 8px 18px;
}

.show-kid-details{
    margin-top: 1%;
    margin-left: 8.5%;
    
}
.show-kid-details:hover, .save-2:hover,
#new-observation:hover, .save-details:hover,
exit:hover, #options_for_report:hover, .create-botton:hover,
.create-botton1:hover, .create-botton2:hover,
.update-details:hover, #add:hover{
  background-color: #f39c12;
  border-color: white;
  padding: 8px 18px;
}

.update-details,#options_for_report{
   margin-top: 5%;
   margin-left: 48%;
}

.save-2{
  margin-top: 5%;
  margin-left: 48%; 
}

.exit{
    margin-left: 37%;
    margin-top: -6.7%; 
}

#special-link{
    text-decoration:none;
    color: white;
}

#new-observation{
    width: 42%;
    margin-top: 5%;
    margin-left: 30%; 
}

/* instruction at the beginning of forms */
.describe-info, #form-exp, .describe-list-info{
    margin-top: 3%;
    color: #e67e22;
    word-spacing: 2px;
}
.describe-info{
    margin-left: 7%;
}

.describe-list-info{
    margin-left: 6%
}

#form-exp{
    margin-left: 7%;  
}
#alergic-exp, #exception-exp{
    margin-left: 10%;
}
/* warning message for user in the forms */
.success-message, .success-message2{
   font-weight: bold; 
   margin-left: 11%;
   color: #9b59b6;
   margin-bottom: -4%;
   word-spacing: 2px;
}

.unsuccess-message{
    margin: 5%;
    font-weight: bold;
    color: #9b59b6;
    word-spacing: 2px;
}

/* table in report page */
#kids-table, #kids-observation-table{
    margin: 6% auto 0 auto;
}

#kids-table th, #kids-table tr,
#kids-observation-table th, #kids-observation-table tr,
#item-table th, #item-table tr{
    text-align: center;
}

#kids-table th, #kids-observation-table th{
    background: #e67e22;
    color: white;
}

#item{
    margin-left: 25%;
}

#item-table{
    width:80%;
    text-align:center;
    margin-left:10%;
    margin-top: 30px;  
}
#item-table th{
    background-color: #e67e22;
    color:white;
    font-weight:normal;
}

#chart_div{
    margin-left: 30%;
    width: 400px;
    height: 300px;
}

/* {
    margin: 8% auto 0 auto;
    background-color: #9b59b6;
    color: white;
    width: calc(100% - 82px);
} */


.shop{
	word-spacing: 5px;
    letter-spacing: 2px;
    font-size: 120%;
    font-weight: bold;
}


/* START building schedule design */
.calendar_row{
    width:100%;
    float:left;
}
#calendar{
    margin-left:-350px;
    position:relative;
    float:left;  
    left:50%;
}
#viewCalendar{
    margin-left:-350px;
    position:relative;
    left:50%; 
    width:700px;
    background-color:white;
    border:1px orange solid;
    font-size:16px;
}
.schedule_row{
    width:100%;
    margin-top:25px;
    float:left;
}
.schedule_row label{
    width:190px;
    float:left;
}
.schduler_holder{
    padding:20px;
    margin-left:120px; 
}
.scheduler-description{
    width:720px;
    float:left;
}
.pick{
    float:left;
    margin-top:5%;
}
#date{
    width:28%;
    margin-top: 5%;
}
.addeventatc_icon{
    top:3px !important;
}
.addeventatc{
    padding-top:5px !important;
    padding-bottom:5px !important;
    margin-left:10px;
    float:left;
}
.scheduler-description input{
    background-color: transparent;
    border: solid 1px rgb(169,169,169);
    color: black;
    background: white;
    text-indent: 10px;
    width: 430px;
    float:left;
    border-radius: 5px;
    font-family: 'Lato';
    font-weight: 300;
    height: 32px;
}
.refresh-button{
    background-color: #e67e22;
    border-color: white;
    padding: 8px 18px;
    margin: 2% 0 0 42%; 
}
/* END building_schedule design  */





/* START building shopping-list design */
#shopping-list{
    background-color: #f0f0f0;
    width: 80%;
    margin-left: 10%;
}

#quantity{
    margin-left: 70%;
}

#quantity-input{
    background-color: transparent;
    border: solid 1px rgb(169,169,169);
    color: black;
    background: white;
    text-indent: 10px;
    border-radius: 5px;
    font-family: 'Lato';
    font-weight: 300;
    width: 40%;
    margin: 0.7% 0 0 70%;
}

#artitems,#officeitems,#fooditems,#empty{
    width: 180%;
    margin-left: 25%;
}

#itemcategory{
    width: 87%;
}

.shoppinglist-form3{
    margin-left: 5.3%;
}

#add{
     margin: 2% 0 0 48%; 
 }
/* END building shopping-list design */


/* START building Daily attendance design */
#attendance-table{
    width:50%;
    text-align:center;
    margin-left: 26%;  
}

#attendance-table th{
    background:#e67e22;
    text-align:center;
    width:150px;
    color:white;
    font-weight:normal;
}

.send-button{
    background-color: #e67e22;
    border-color: white;
    padding: 8px 18px;
    color:white;
} 

.pickDateField{
    text-align: center;
}

.pickDateField input{
    background-color: transparent;
    border: solid 1px rgb(169,169,169);
    color: black;
    background: rgba(128, 128, 128, 0.568);
    text-indent: 10px;
    width:130px;
    border-radius: 5px;
    margin-left: 3.5%;
    margin-top: 1%;
    font-weight: 300;
    height: 32px;
    display: inline-block; 
}
.pickDateField label{
    margin-bottom: 2%;
}

/* END building Daily attendance design */