*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row{
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

.box{
    padding: 1%
}


h1{
    font-weight: bold;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-size: 150%; 
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}

h2, h3{

    word-spacing: 5px;
    letter-spacing: 2px;
    text-align: center;
}

h2{
    font-size: 120%;
    font-weight: bold;
}


span{
    color: #e67e22;
}

section{
    padding: 30px 0;
}

#registration-parent{
    background-color: #f0f0f0;
    width: 73.3%;
    margin-left: 13.5%;
}

 #reports{
    background-color: #f0f0f0;
    width: 80.3%;
    margin-left: 10%; 
 }

 .reports-line{
    margin-left: 3.2%;
 }

#registration-kid{
    background-color: #f0f0f0;
    width: 78.3%;
    margin-left: 10.5%;
}

.parent-form1, .kid-form1{
    margin-top: 5%;
}

.parent-form2, .parent-form1{
    margin-left: 2%;
}

.kid-form1,.kid-form2 {
   margin-left: 2%;
}

.kid-form3{
    margin-left: 3.3%;
}
.registration-info input{
    background-color: transparent;
    border: solid 1px rgb(169,169,169);
    color: black;
    background: white;
    text-indent: 10px;
    width: 59%;
    border-radius: 5px;
    margin-left: 3.5%;
    margin-top: 1%;
    font-family: 'Lato';
    font-weight: 300;
    height: 28px;
}

.report-info input{
    background-color: transparent;
    border: solid 1px rgb(169,169,169);
    color: black;
    background: white;
    text-indent: 10px;
    width: 53%;
    border-radius: 5px;
    margin-left: 15.3%;
    margin-top: 1%;
    font-family: 'Lato';
    font-weight: 300;
    height: 28px;
}

 .registration-info input[type="password"]{
    width: 60%;
    margin-left: 3.2%;
}

#city{
    width: 55.5%;
    margin-left: 11%;
}

#gender{
    width: 59%;
    margin-left: 14%;
}
#mother-name{
    width: 46%;
    margin-left: 8%;
}

#phone{
  width: 55%;
  margin-left: 6%;  
}

#father-name{
    width: 46%;
    margin-left: 10.3%;
}

#adress{
    width: 46%;
    margin-left: 22%;    
}

#kid-id{
  margin-left: 19%;
   
}

#parent-id, #parent-phone{
    margin-left: 3%;
}


.registration-info input[type="date"]{
    width: 45%;
    margin-left: 2%;
    color: black;   
}

#parent-id-input{
    margin-left: 18%;
    width: 55%;
}

.registration-info select, .report-info select{
    border-radius: 5px;
    font-family: 'Lato';
    font-weight: 300;
}

.registration-info select{
     margin-left: 47px;
}

.report-info select{
    margin-left: 25px;
}

.save-1, .save-2, .create-botton{
    padding: 5px;
    width: 75px;
    display: block;
    cursor: pointer;
    border: none;
    background-color: #e67e22;
    color: white;
    border-radius: 5px;
    font-family: 'Lato';
    font-weight: 300;
    text-align: center;
}

.save-1{
    margin-left: 48%;
}

.save-2{
   margin-top: 10%;
   margin-left: 48%; 
}

.create-botton{
   margin-top: 5%;
   margin-left: 48%;  
}

#form-exp{
    margin-left: 4%;
    color: #e67e22;
}

.success-message{
   font-weight: bold; 
   margin-left: 4%;
   color: #9b59b6;
   margin-bottom: -4%;
}

#kids-table{
    margin-top: 6%;
    background-color: #3d3d3d;
    color: white;
}

#kids-table td:first-child{
   padding: 0 8px 0 8px;
}

#kids-table td{
    text-align: center;
    border: solid 1px #dfe4ea;
}



#kids-table th{
   padding: 0 51.4px 0 51.4px;
   text-align: center;
   border-bottom: solid 1px #dfe4ea;
}