*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row{
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

.box{
    padding: 1%
}


h1{
    font-weight: bold;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-size: 150%; 
    margin-bottom: 30px;
    text-align: center;
}

h2, h3{

    word-spacing: 5px;
    letter-spacing: 2px;
    text-align: center;
}

h2{
    font-size: 120%;
    font-weight: bold;
}


span{
    color: #e67e22;
}

section{
    padding: 30px 0;
}

#registration-parent{
    background-color: #f0f0f0;
    width: 73.3%;
    margin-left: 13.5%;
}

 #reports{
    background-color: #f0f0f0;
    width: 80.3%;
    margin-left: 10%; 
 }

 .reports-line{
    margin-left: 3.2%;
 }

#registration-kid{
    background-color: #f0f0f0;
    width: 75.3%;
    margin-left: 12.5%;
}

.parent-form1, .kid-form1{
    margin-top: 7%;
}

.parent-form1, .parent-form2, .parent-form3, .parent-form4 {
    margin-left: 2%;
}

.kid-form1,.kid-form2 {
   margin-left: 2%;
}

.kid-form3, .kid-form4{
    margin-left: 3.3%;
}
.registration-info input{
    background-color: transparent;
    border: solid 1px rgb(169,169,169);
    color: black;
    background: white;
    text-indent: 10px;
    width: 59%;
    border-radius: 5px;
    margin-left: 3.5%;
    margin-top: 1%;
    font-family: 'Lato';
    font-weight: 300;
    height: 28px;
}

#birthday-date{
    width: 65%;
}

.report-info input{
    background-color: transparent;
    border: solid 1px rgb(169,169,169);
    color: black;
    background: white;
    text-indent: 10px;
    width: 53%;
    border-radius: 5px;
    margin-left: 15.3%;
    margin-top: 1%;
    font-family: 'Lato';
    font-weight: 300;
    height: 28px;
}

#address, #city, #phone{
    margin-left: 4%;
}

#f-member{
    margin-left: -6%;
}

.registration-info select, .report-info select{
    border-radius: 5px;
    font-family: 'Lato';
    font-weight: 300;
 
}

.registration-info select{
    margin-top: 1%;
    margin-left: 4%;
    width: 59%;
}

#gender{
    width: 127%;
    margin-left: 8%;
}

#email-input{
    margin-left: -1%; 
}

#f-member-select{
    width: 109%;
    margin-left: -1%;
}

input[type=checkbox], input[type=radio]{
    background-color: transparent;
    border: solid 1px rgb(169,169,169);
    color: black;
    background: white;
    border-radius: 5px;
    margin-top: 6%;   
}

input[type=checkbox]{
    width: 10%;
}

input[type=radio]{
    width: 7%;
}

.report-info select{
    margin-left: 25px;
} 

.save-1, .save-2, .create-botton{
    padding: 5px;
    width: 75px;
    display: block;
    cursor: pointer;
    border: none;
    background-color: #e67e22;
    color: white;
    border-radius: 5px;
    font-family: 'Lato';
    font-weight: 300;
    text-align: center;
}

.save-1{
    margin-left: 48%;
}

.save-2{
   margin-top: 12%;
   margin-left: 48%; 
}

.create-botton{
   margin-top: 5%;
   margin-left: 48%;  
}

.success-message{
   font-weight: bold; 
   margin-left: 4%;
   color: #9b59b6;
   margin-bottom: -4%;
   word-spacing: 2px;

}

#kids-table{
    margin-top: 6%;
    background-color: #3d3d3d;
    color: white;
}

#kids-table td:first-child{
   padding: 0 8px 0 8px;
}

#kids-table td{
    text-align: center;
    border: solid 1px #dfe4ea;
}



#kids-table th{
   padding: 0 51.4px 0 51.4px;
   text-align: center;
   border-bottom: solid 1px #dfe4ea;
}


/* START building schedule design */
.calendar_row{
    width:100%;
    float:left;
}
#calendar{
    margin-left:-350px;
    position:relative;
    float:left;
    left:50%;
}
/* END building_schedule design  */